@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	text-align: left;
	background-color: #A8518A;
}
nav {
	background-color: #A8518A;
	font-family: 'Droid Sans', sans-serif;
	text-decoration: none;
}

article {
	background-color: #A8518A;
}

footer {
	background-color: #D2D3D5;
}

div, section {
	background-color: #848688;
}
h1 {
	font-family: 'Lobster', cursive;
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
	text-align: right;
	color: black;
	padding-right: 5px;
	float: right;
}

p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	line-height: 1.2em;
	margin: 2em;
	padding:2em;
}

strong { 
	font-weight: small-caps;
}


img {
	width: 1200px;
	height: auto;
	margin: 2em;
	padding-top: 10px;
}

a {
	background-color: #A8518A;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: white;
	text-decoration: none;
	margin: 2em;
}
a:hover {
	background-color: #D2D3D5;
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

#two_column {
	background-color: #D2D3D5;
	border: 1px black solid;
	padding: 20px;
}

.logo {
	background-color: none;
	border: 1px;
	padding: 20px;
	float: left;
	width: 25%
}

.menu {
	float: right;
	text-decoration: none;
	background-color: #D2D3D5;
	margin: 2em;
}


