@import url(https://fonts.googleapis.com/css?family=Lobster);

.logo {
	width: 120px;
	height: auto;
}

body {
	text-align: left;
	background-color: #A8518A;
}
h1 {
	font-family: 'Lobster', cursive;
font-size: 30px;
font-weight: bold;
font-style: normal;
text-align: right;
background-color: white;
color: #A8518A;
}
p {
	font-family: Arial, sans-serif;
font-size: 20px;
font-weight: normal;
font-style: normal;
color: #B81DBC;
padding: 30px 80px 20px 80px; 
}

ul {
	font-family: Arial, sans-serif;
	font-size: 20px;
	text-align: left;
	list-style-type: none;
	color: #B81DBC;
	padding-right: 80px;
padding-left: 80px;
}

img {
background-color: #ffffff;
	width: 1200px;
height: auto;
padding-top: 10px;
padding-right: 80px;
padding-left: 80px;
}

a {
	font-family: Arial, sans-serif;
	font-weight: bold;
font size: 20px;
color: white;
text-decoration: underline;
padding-right: 80px;
padding-left: 80px;
}
