@import url(https://fonts.googleapis.com/css?family=Lobster);


head {
	background-color: #ffffff;
}
.logo {
	width: 400px;
	height: auto;
	background-color: #ffffff;
	}

/* resize images */
.logo img {
	width: 100%;
	height: auto;
	background-color: #ffffff;
	}

body {
	text-align: left;
	background-color: #A8518A;
}
h1 {
	font-family: 'Lobster', cursive;
font-size: 30px;
font-weight: normal;
font-style: normal;
text-align: right;
color: #ffffff;
background-color: #A8518A;
}
p {
	font-family: Arial, sans-serif;
font-size: 20px;
font-weight: normal;
font-style: normal;
color: #ffffff;
padding: 30px 80px 20px 80px; 
}

ul {
	font-family: Arial, sans-serif;
	font-size: 20px;
	text-align: left;
	list-style-type: none;
	color: #ffffff;
	padding-right: 80px;
padding-left: 80px;
}

.sacmi {
background-color: #ffffff;
	width: 1200px;
height: auto;
padding-top: 10px;
padding-right: 80px;
padding-left: 80px;
}

a {
	font-family: Arial, sans-serif;
	font-weight: bold;
font size: 20px;
color: white;
text-decoration: underline;
padding-right: 80px;
padding-left: 80px;
}
