@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	text-align: left;
	background-color: #848688;
	width: 100%;}

article {
	background-color: #A8518A;
}

footer {
	background-color: #D2D3D5;
	margin-top: 2em;
	height: 3em;
}

div, section {
	background-color: #848688;
	padding: 1em;
	width: 100%;
}
p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: 000;
	float: left;
	line-height: 1.2em;
	margin: 1em;
	padding: 1.5em;
}

strong { 
	font-weight: small-caps;
}

nav {
	background-color: #A8518A;
	font-family: 'Droid Sans', sans-serif;
	text-decoration: none;
	width: 65%;
}

a {
	background-color: #A8518A;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	color: white;
	text-decoration: none;
	margin: 1em;
}
a:hover {
	background-color: #D2D3D5;
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin: 2em;
}

.menu {
	float: right;
	text-decoration: none;
	margin-top: 5em;
	margin-bottom: 1.5em;
	padding: 1em;
	width: 65%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

#two_column {
	background-color: #D2D3D5;
	width: 100%;
	}

.logo {
	background-color: none;
	margin: 2em;
	padding: 1.5em;
	float: left;
	width: 25%
}

.collage {
	margin: 0.5em;
	float: right;
	width: 65%;
}

.me {
	background-color: #D2D3D5;
	margin: 0.5em;
	float: left;
	width: 30%;
}

@media (max-width: 1174px) {
	.menu {
		padding: 0.5em;
	}

}

@media (max-width: 1140px) {
	.menu {
		padding: 0.2em;
	}
	.logo {
		margin: 1em;
		padding: 0.5em:;
	}
}

@media (max-width: 900px) {
	a {
		font-size: 0.9em;
	}
	.menu {
		float: none;
		padding: 1em;
		margin: 2em;
		width: 100%;
	}
	.logo {
		float: none;
		margin: 0.5em;
		padding: 0.2em;
		width: 100%;
	}
	.me {
		float: none;
		margin: 1em;
		padding: 1em;
		width: 100%;
	}
	.collage {
		float: none;
		margin: 1em;
		padding: 0.5em;
		width: 100%;
	}

}


