body {
	text-align: left;
	background-color: #432C44
}
h1 {font-family: Arial, sans-serif;
font-size: 30px;
font-weight: bold;
font-style: normal;
color: #B81DBC;
}
#slogan {font-style: italic;
font-size: 24px;
font-weight: bold;
text-align right;
color: 0,0,0;
}

p {font-family: Arial, sans-serif;
font-size: 20px;
font-weight: normal;
font-style: normal;
color: #B81DBC;
}

ul {
	text-align: left;
	list-style-type: none;
	color: #B81DBC;
}

img {width: 800px;
height: auto;
}

a {font-weight: bold;
font size: 20px;
text-align: right;
color: white;
text-decoration: underline;
}
